@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
.checkbox {
  display: none;
}

.large {
  font-size: 24pt;
}

.large {
  font-size: 16pt;
}

.medium {
  font-size: 14pt;
}

.bold {
  font-weight: 700;
}

.normal {
  font-weight: 400;
}

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 65px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.4rem;
}
header .arrow {
  position: absolute;
  left: 5%;
}
header .arrow__icon {
  color: black;
}
header img {
  height: 30px;
  width: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container__info {
  background-color: #f6f6f6;
  height: 280px;
  width: 100%;
}
.container__how-to {
  background-color: white;
  height: 450px;
  width: 100%;
}
.container__number {
  position: absolute;
  left: 3%;
  background-color: #9356DC;
  border-radius: 100%;
  width: 35px;
  padding: 5px;
  color: white;
  z-index: 2;
}
.container__text {
  text-align: center;
}
.container__text--link {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 100px;
  color: white;
  box-shadow: 0px 2px 2px -2px;
}
.container__text--link:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 0px 5px 5px -5px;
}
.container__text--button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 40px;
  justify-content: flex-start;
  gap: 20px;
  background: #f6f6f6;
  width: 90%;
  height: 80px;
  border-radius: 20px;
  box-shadow: 0px 2px 2px -2px;
}
.container__text--button:hover {
  background: #f2eafb;
  box-shadow: 0px 5px 5px -5px;
}
.container__text--button:hover .icon {
  color: #9356DC;
}
.container__text--header {
  width: 100%;
  text-align: left;
  padding-left: 5%;
}

.footer {
  padding: 20px;
  bottom: 0px;
  height: 200px;
  background: #353535;
}
.footer__text {
  color: #ffffff;
  padding: 5px;
  gap: 2px;
}
.footer__text--title {
  font-family: "Shrikhand", cursive;
}
.footer__text--text {
  font-family: "Roboto", sans-serif;
}
.footer__text--icon {
  width: 25px;
}
.footer__text--row {
  display: flex;
}

.cards__container {
  height: 1250px;
  width: 100%;
  background-color: #eaeaea;
}
.cards .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cards .card {
  width: 90%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 2px -2px;
}
.cards .card:hover {
  box-shadow: 0px 5px 5px -5px;
}
.cards .card__new {
  position: relative;
  top: 10%;
  left: 80%;
  height: 0px;
}
.cards .card__new--text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  color: #278870;
}
.cards .card__img {
  object-fit: cover;
  height: 175px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.cards .card__items {
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
}
.cards .card__items--text {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cards .card__items--heart {
  font-size: 28px;
  height: fit-content;
}
.cards .card__items--heart .full-heart {
  display: none;
  background: -webkit-gradient(linear, right top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: content;
}
.cards .card__items--heart .line-heart {
  background-clip: content;
}
.cards .card__items--heart .checkbox:checked + .label .line-heart {
  display: none;
}
.cards .card__items--heart .checkbox:checked + .label .full-heart {
  display: flex;
}

.menu__img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.menu .container__text--link {
  font-family: "Roboto", sans-serif;
  width: 185px;
}
.menu__container {
  position: absolute;
  top: 280px;
  background: #eaeaea;
  height: 1200px;
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}
.menu__menu {
  height: 1400px;
}
.menu__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0px 10px 0px;
  padding: 0 3% 0 3%;
  height: 50px;
  width: 90%;
}
.menu__title--text {
  font-family: "Shrikhand", cursive;
}
.menu .subtitle {
  position: relative;
  width: 90%;
  left: 0;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.menu .subtitle h3 {
  padding-bottom: 3px;
  margin-bottom: 3px;
}
.menu .underline {
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}
.menu .cards__section {
  width: 90%;
  margin: 20px 0px 20px 0px;
}
.menu .card {
  margin-bottom: 20px;
}
.menu .card__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

main {
  margin: 0 auto;
  font-family: "Roboto";
}
main .card {
  height: 250px;
}
main .location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  gap: 20px;
  box-shadow: 0 -5px 5px -5px;
}
main .location__text {
  font-size: 12pt;
}
main .location__icon {
  height: 16px;
}
main section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
