.cards{
    &__container{
        height: 1250px;
        width:100%;
        background-color: #eaeaea;
    }

    .card{

        height: 250px;
        width:90%;
        background-color: white;
        border-radius: 20px;
        box-shadow: $init-box-shadow;

        &:hover{
            box-shadow: $hover-box-shadow;
        }

        &__new{
            position: relative;
            top:10%;
            left:80%;
            height: 0px;

            &--text{
                @include centered(row, center, center);
                width:80px;
                height:30px;
                background-color: $tertiary_color;
                color: darken($tertiary-color, 40%);
            }
        }


        &__img {
            object-fit: cover;
            height:175px;
            width: 100%;
            border-radius: 20px 20px 0px 0px;
        }

        &__items{
            padding:10px 20px 10px 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: black;

            &--text{
                display: flex;
                flex-direction: column;
                width: 50%;
                height:100%;
            }

            &--heart{

                font-size: 28px;
                height:100%;
                position: relative;
                left: 45%;

                .full-heart{
                    display: none;
                    background: -webkit-gradient(linear, right top, left bottom, from($primary-color), to($secondary-color));
	                -webkit-background-clip: text;
	                -webkit-text-fill-color: transparent;
                    background-clip: content;
                }

                .checkbox:checked +.label {

                    .line-heart{
                        display: none;
                    }
                    .full-heart {   
                     display: block;
                    }        
                }
            }
        }
    }
}