//Sets styling for cards across the site

.cards { 

    @include centered (column, center, center);
    width:100%;
    gap:30px;
    padding-bottom: 50px;
   

    .card {

    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: $init-box-shadow;
    transition: transform 1s ease-in-out;
    overflow: hidden;
    padding:20px

        &__1 {
            animation-delay: 0.8s;
            animation: slide-up 0.5s ease-in-out;
        }
        
        &__2 {
            animation-delay: 1s;
            animation: slide-up 1s ease-in-out;
        }

        &__3 {
            animation-delay: 1s;
            animation: slide-up 1.5s ease-in-out;
        }

        @keyframes slide-up {

            0% {
                opacity: 0%;
                transform: translateY(50px);
            }

            100% {
                opacity: 100%;
                transform: translateY(0px);
            }
            
        }

        &__new {
            position: absolute;
            top: 20px;
            right:10px;


            &--text {
                @include centered(row, center, center);
                width:80px;
                height:30px;
                background-color: $tertiary_color;
                color: darken($tertiary-color, 40%);
                font-size: $medium;
            }
        }

        &__img {
            object-fit: cover;
            height:175px;
            width: 100%;
            border-radius: 20px 20px 0px 0px;
        }

        &__items {
            padding: 10px 0px 10px 20px;
            @include centered (row, center, center);
            flex-wrap: nowrap;
            justify-content: space-between;
            color: black;
           
            &--text {
                height:100%;
                width: 100%;
            }   

            &--item {
                align-self: center;
                width:100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                padding:10px;
            }  
         
            &--price {
                height: 100%;
                text-align: center;
                min-width: 80px;

                h3{
                    position: absolute;
                    bottom: 20px;
                }
            }
        }
    }
}