.cards{ 

    @include centered (column, center, center);
    width:100%;
    gap:30px;
    padding-bottom: 50px;
   

     .card{

        position: relative;
        width: 100%;
        background-color: white;
        border-radius: 20px;
        box-shadow: $init-box-shadow;
        overflow: hidden;
        transition: transform 1s ease-in-out;

        &__1{
            animation-delay: 0.8s;
            animation: slide-up 0.5s ease-in-out;
        }
        
        &__2{
            animation-delay: 1s;
            animation: slide-up 1s ease-in-out;
        }

        &__3{
            animation-delay: 1s;
            animation: slide-up 1.5s ease-in-out;
        }

        @keyframes slide-up {

            0%{
                opacity: 0%;
                transform: translateY(50px);
            }

            100%{
                opacity: 100%;
                transform: translateY(0px);
            }
            
        }

            &:hover {

                .box{

                    transform: translateX(0%);
                    transition: transform 0.8s ease-in-out;

                    .check-icon{
                        transform: rotate(-360deg);
                        transition: transform 1s ease-in-out;
                    
                    }
                   
                }
            }

      
    
            &__new{
                position: absolute;
                top: 20px;
                right:10px;

    
                &--text{
                    @include centered(row, center, center);
                    width:80px;
                    height:30px;
                    background-color: $tertiary_color;
                    color: darken($tertiary-color, 40%);
                    font-size: $medium;
                }
            }
    
    
        &__img {
            object-fit: cover;
            height:175px;
            width: 100%;
            border-radius: 20px 20px 0px 0px;
        }

        &__items{
            width: 100%;
            padding:10px 20px 10px 20px;
            @include centered (row, center, center);
            flex-wrap: nowrap;
            justify-content: space-between;
            color: black;
          

            &--text{
                display: flex;
                flex-direction: column;
                height:100%;
                text-overflow: ellipsis;
                white-space: nowrap;
               // overflow: hidden;
 
            }   

            &--price {
                justify-self: flex-end;
            }
        }
    }
}