//Imports the required fonts
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');


@function set-text-color($color){
    @if (lightness($color) > 40%){
        @return #000000;
    }
    @else {
        @return #ffffff;
    }
}

@mixin centered ($direction, $justify, $align){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    flex-wrap: wrap;
}

@mixin transition-ease{
    transition: all 5s ease-in-out;
}

//Declares variables
$text_font:  'Roboto';
$logo_text_font: 'Shrikhand';
$primary_color:#9356DC;
$secondary_color: #FF79DA;
$tertiary_color: #99E2D0;
$bold: 700;
$normal: 400;
$init-box-shadow: 0px 2px 2px -2px;
$hover-box-shadow: 0px 5px 5px -5px;

.large{
    font-size: 24pt;
}

.large{
    font-size: 14pt;
}

.medium{
    font-size: 12pt;
}

.bold{
    font-weight: $bold;
}

.normal{
    font-weight: $normal
}

html{
    overflow-x: hidden;
}

//Resets
* {
    box-sizing: border-box;
    margin:0;
    padding:0;

    a {
        text-decoration: none;
    }
}


//Settings for responsive layout
@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px)
        {
            @content;
        }
    }
@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}