//This page sets any global stylings, functions, mixins or variables used across the site

//Imports the required fonts
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');


@function set-text-color($color){

    //Sets text colour to white when a dark background colour is passed 
    //and black when a light background colour is passed

    @if (lightness($color) > 40%){
        @return #000000;
    }
    @else {
        @return #ffffff;
    }
}


//Mixin to prevent repitition on common container stylings

@mixin centered ($direction, $justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: wrap;
}

@mixin transition-ease-io($seconds){
    transition: all $seconds ease-in-out;
}

//Declares variables
$text_font:  'Roboto';
$logo_text_font: 'Shrikhand';
$primary_color:#9356DC;
$secondary_color: #FF79DA;
$tertiary_color: #99E2D0;
$bold: 700;
$normal: 400;
$medium: 14pt;
$largest: 22pt;
$large: 18pt;
$small: 12pt;
$init-box-shadow: 0px 2px 2px -2px;
$hover-box-shadow: 0px 5px 5px -5px;

//Adds styles to html classes

.grey {
    background: #f2f2f2;
}

.largest {
    font-size: $largest;
}

.large {
    font-size: $large;
}

.medium {
    font-size: $medium;
}

.small {
    font-size: $small;
}

.bold {
    font-weight: $bold;
}

.normal {
    font-weight: $normal
}



html {
    overflow-x: hidden; //Hides the vertical scrollbar while the loading page is displayed
    animation: viewport 3s;   

    @keyframes viewport{
        from, to{
            overflow-y: hidden;
        }
    }
    
}

//Resets
* {
    box-sizing: border-box;
    margin:0;
    padding:0;

    a {
        text-decoration: none;
    }
}


//Settings for responsive layout

@mixin media-lg {
    @media screen and (min-width: 1024px){
        @content;
    }
}
