header {

    //Styles the headers across all pages
    height: 65px;
    padding: 1rem;
    @include centered(row, center, center);
    margin-top: 0.4rem;

    .arrow {
        position: absolute;
        left:30px;
        color: black;
    }

    img {
        height:30px;
    }

}