.main {

    //Styles the main section of the home page
    margin: 0 auto;
    font-family: $text_font;

    .location {

        //Styles the location element in the home page
        @include centered(row, center, center);
        width:100%;
        height:50px;
        background-color: #eaeaea;
        gap:20px;
        box-shadow: inset 0px 5px 5px -5px;

        h1 {
            color: #353535;
        }

        &__icon {
            color: #353535;
        }
    }
    .info {
        h2, h3{
            text-align: center;
        }
    }

    .left-title {   
        //Left aligns the section title as default for mobile layout
        width: 100%;
        text-align: left;
    }

    .how {

        //Styles the how it works section on the homepage
        list-style-type: none;
        width:100%;

        .list {
            position: relative;
            @include centered(row, flex-start, center);
            gap: 20px;
            height:80px;
            padding:20px;
            margin-bottom: 30px;
            width:100%;
            background: #f6f6f6;
            border-radius: 20px;
            box-shadow: $init-box-shadow;
            left: 10px;

            &:hover {

                //Styles the list items on hover
                background: lighten($primary-color, 35%);
                box-shadow: 0px 5px 5px -5px;

                .list__icon {
                    color: $primary-color;
                }
            }

            &__number {

                //Positions the number on the list so it is just coming off the left edg3e of the border, this
                //is for mobile layout and changes when on desktop
                text-align: center;
                position: absolute;
                background-color: $primary_color;
                border-radius: 100%;
                height: 25px;
                width: 25px;
                padding:3px;
                color: white;
                left: -10px;
            }

            &__icon {

                //Positions the icon on the how it works list
                position: absolute;
                left: 40px;;
            }

            &__text {
                //Positions the text on the how it works list
                position: absolute;
                left: 80px;
                padding:10px;
            }
        }
    }
}

