.full__container {

    //Styles the container for the loader and makes it disappear after 3 seconds
    height:100%;
    width:100%;
    z-index: 2;
    background-color: $tertiary-color;
    position: fixed;
    top:0px;
    flex-direction: column;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disappear 0s ease-in 3s;
    animation-fill-mode: forwards;

    &--text{
        font-family:  $text_font, sans-serif;
    }
   
}

.loader {

    //Creates the loading spinner and animates it
    border: 16px solid $primary_color;
    border-top: 16px solid $secondary_color;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1.5s linear infinite;

    &__logo{
        //Sizes the logo
        max-width:100%;
        padding:20px;
    }

  }

  @keyframes spin {
      //Spins the circle
    0% { transform: rotate(0deg);
     }
    100% { transform: rotate(360deg); }
  }

  @keyframes disappear {

    //Makes the loading page disappear

      to{
          visibility: hidden;
          width: 0px;
          height: 0px;
      }
  }