.menu {

    width:100%;

    .container {
        top: -50px;
        position: relative;
        border-radius: 50px 50px 0px 0px;
    }

    .heart {
        font-size: 40px;
    }

    
    &__img {
        height:250px;
        width:100%;
        object-fit:cover
    }

    &__title {
        @include centered(row, space-between, flex-start);
        justify-content: space-between;
        height:50px;
        width:100%;
        font-family: $logo_text_font, cursive;
        }

    .course {

        @include centered(column, center, center);
        justify-content: space-evenly;
        width:100%;
        gap:20px;
        font-family: $text_font, sans-serif;


        &__subtitle {
            text-align: left;
            width:100%;
    
            &--underline {
                width: 40px;
                border-bottom: 3px solid $tertiary_color;
            }

            &--text {
                padding: 3px;

            }
            &--price {
                text-decoration: none;
            }
        }
    }
    .button {
        width: 180px;
        font-family: $text_font, sans-serif;
    } 

    a {
        display: flex;
        text-decoration: none;
    }

    .box-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -80px;
        transition: margin-right 1s ease-in-out;
    }

    .box {
        height: 100%;
        background: $tertiary_color;
        min-width:80px;
        @include centered(column, center, center);
        border-radius: 0px 20px 20px 0px;
        
    }
    
    .check-icon {
        transform: rotate(360deg);
        transition: rotate 0.5s ease-in-out;
        background: $tertiary_color;
        color: white;
    }

    .card {
        &:hover {
            .card__items {
                 width: calc(100% - 160px);
                 transition: width 1s ease-in-out;
            }

            .check-icon {
                transform: rotate(-360deg);
                transition: transform 1s ease-in-out;
            
            }
            .box-container {
                margin-right: 0px;
                transition: margin-right 1s ease-in-out
            }
        }

        &__items {
            width: calc(100% - 80px);
            transition: width 1s ease-in-out;
        }  
    }
}
