@include media-lg{

    main{
        
        .left-title{
            text-align: center;

        }

        ul {
            list-style-type: none;
            width:100%;
            @include centered (row, center, center);
            gap:30px;
    
            .list{
                width: 30%;
                flex-direction: column;
                justify-content: center;
                height: auto;
    
                &__number{
                    width:100%;
                    position: absolute;
                    top:0px;
                    border-radius: 20px 20px 0px 0px;
                    left: unset;
                }
    
                &__icon {
                    position: unset;
                    margin-top: 20px;
                }
    
                &__text {
                    position: unset;
                }
            }
        }
    }


    .cards{
        @include centered(row, center, center);
        .card{

            width:30%;

            &:hover{
                box-shadow: $hover-box-shadow;
            }
        }
    }


    .menu {

        .cards {

            .course{
                width:30%;
                height:100%;
            
                &__subtitle {

                    text-align: center;

                    &--underline{
                        width: 100%;
                    }
                }
                .card{
                    width:100%;

                    &:hover{
                        
                        .card__items{
                            height: 120px;
                            transition: all 2s ease-in-out;

                            &--item{
                            text-overflow: unset;
                            white-space: unset;
                            overflow: unset;
                        }
                        }
                    }

                    &__items{
                        @include centered (column, center, center);
                        height:100%;
                        flex-wrap: nowrap;

                        &--item{
                            width:100%;
                        }  
            
                        &--text{
                            width: 100%;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                        }
                    }
        
                }
            }
        }
    }
    

    .footer{
        @include centered(column ,center ,center);
        flex-wrap: nowrap;
    }
}