@include media-lg {

    //Adjust stylings for table and desktop screens

    .main {

        .left-title {
            //Moves the left aligned titles to the center
            text-align: center;
        }

        .how {

            //Changes the layout of the how it works list
            @include centered (row, center, center);
            gap:30px;
    
            .list {
                //Shrinks the items on the list and changes their layout
                width: 30%;
                flex-direction: column;
                justify-content: center;
                height: auto;
    
                &__number {

                    //Changes the positioning of the number and changes its border
                    width:100%;
                    position: absolute;
                    top:0px;
                    border-radius: 20px 20px 0px 0px;
                    left: unset;
                }
    
                &__icon {
                    //Repositions the icon
                    position: unset;
                    margin-top: 20px;
                }
    
                &__text {
                    //Repositions the text
                    position: unset;
                }
            }
        }
    }


    .cards {
        //Changes the display pf the cards on tablet and desktop displays
       @include centered(row, center, center);
       
       .card {

            //Changes the width of the cards
            width:30%;


        }
    }

    .menu {

        .cards {
            align-items: unset; //Ensures the items align at the top on larger displays
            .course {

                //Changes the width of the courses so they are displayed next to each other on bigger screens
                width:30%;
            
                &__subtitle {

                    text-align: center;

                    &--underline {

                        //Changes the size of the underline on bigger displays
                        width: 100%;
                    }
                }
                .card {

                    &:hover {
                        
                        .card__items {

                            //On hover any hidden text till how and adjust the size of its container

                            &--item{
                            text-overflow: unset;
                            white-space: unset;
                            overflow: unset;
                            }
                        }
                    }

                    &__items {

                        //Sets the styles for the card items on bigger screens
                        @include centered (column, center, center);
                        flex-wrap: nowrap;
                        min-height: 120px;

                        &--item {
                            width:100%;
                        }  
            
                        &--text {
                            width: 100%;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                        }
                    }
                }
            }
        }
    }

    .footer {
        //Repositions the items in the footer on bigger displays
        @include centered(column ,center ,center);
        flex-wrap: nowrap;
    }
}